fastapi[standard]
pydantic-settings
python-dotenv

sqlalchemy[asyncio]
asyncpg
alembic
pgvector
langchain-postgres

httpx
structlog

openai
langchain
langgraph
langchain-openai
langchain-community
tiktoken
pypdf

prometheus-client

python-jose[cryptography]
