fastapi[standard]
pydantic-settings
python-dotenv

sqlalchemy[asyncio]
asyncpg
alembic
pgvector
langchain-postgres

httpx
tenacity
structlog

openai
langchain
langgraph
langchain-openai
langchain-community
tiktoken
pypdf

prometheus-client
apscheduler

numpy
pandas
scikit-learn
